dataset:
  files: '/glade/work/kavulich/MPAS/tutorial/120km_global/rundir/diag.2025-05-08_00.00.00.nc'
  gridfile: '/glade/work/kavulich/MPAS/tutorial/120km_global/rundir/x1.40962.static.nc'
  #gridfile: '/glade/work/kavulich/MPAS/tutorial/120km_global/rundir/x1.40962.init.nc'
  vars:
    t2m:
      source: native
      plot:
        lakes:
          scale: '10m'
          enable: False
          color: 'lightblue'
    precipw:
      source: native
    rainnc:
      source: native
    refl10cm_1km:
      source: native
      plot:
        colormap: radar_refl

plot:
  # {var} = Variable name
  # {lev} = Variable level
  # {varln} = Variable "long name" (not recommended for filenames since these often contain spaces)
  # {units} = Variable units
  # {filename} = Name of file being read for plotted data
  # {fnme} = Name of file (minus extension) being read for plotted data
  # {date} = The date of plotted data, in %Y-%m-%d format
  # {time} = The time of plotted data, in %H:%M:%S format

  filename: 'tutorial_data/{var}_lev{lev}_{date}_{time}.png'
  title:
    text: 'Plot of {varln}, level {lev} for MPAS forecast, {date} {time}'
    fontsize: 8
  edges:
    #    color: black
    color: face
    # set width to 0 to have no borders
    width: 0.1
  boundaries:
    detail: 0
    scale: '10m'
    color: 'k'
    linewidth: 0.5
  coastlines:
    scale: '10m'
    color: 'k'
    linewidth: 0.2
  colorbar:
    orientation: vertical
    label: 'Units: {units}'
    fontsize: 8
  # Colormap for output from Matplotlib. Reference: https://matplotlib.org/stable/gallery/color/colormap_reference.html
  colormap: "viridis"
  dpi: 300
  figwidth: 5
  projection:
    projection: PlateCarree
